.chatbot-chat-container {
  position: relative;
  width: 375px;
}

.chatbot-chat-inner-container {
  height: 700px;
  background-color: #fff;
  border-radius: 3px;
  border-radius: 5px;
}

.chatbot-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #9e10e0;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #fffcfc;
  padding: 15px;
  font-weight: bold;
}

.chatbot-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.chatbot-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 596px;
}

.chatbot-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.chatbot-chat-input-form {
  width: 100%;
  display: flex;
}

.chatbot-chat-input::placeholder {
  color: #585858;
}

.chatbot-chat-btn-send {
  background-color: #cfe2db;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.chatbot-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}
