.chatbot-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}

.chatbot-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #828ebd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.chatbot-user-chat-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px 0 10px 10px;;
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
}

